{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cari Lowongan</title>
</head>
<body>

{% include 'navbar.html' %}

<div class="pg-container" style="padding: 5rem">
    <div style="padding: 2rem">
        <div class="row" style="border-style: solid; border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;">
            <div class="col-2" style="text-align: center; border-right-style: solid; border-right-width: thin">
                <img src="{% static 'img/image 6.png' %}" style="margin-top: 5%">
                <p>Dinas Depok</p>
            </div>
            <div class="col-9 align-self-center">
                <p style="font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;">Mobile Developer Intern</p>
                <p>IT | Magang</p>
                <p>10 Januari 2020</p>
            </div>
            <div class="col-1 d-flex align-items-end flex-column">
                <button type="button" class="btn btn-primary mt-auto" style="margin-bottom: 15%; border-radius: 10px; width: 154px; height: 36px">Lamar</button>
            </div>
        </div>
    </div>

    <div style="padding: 2rem">
        <div class="row" style="border-style: solid">
            <div class="col-2" style="text-align: center; border-right-style: solid; border-right-width: thin">
                <img src="{% static 'img/image 6.png' %}" style="margin-top: 5%">
                <p>Dinas Depok</p>
            </div>
            <div class="col-9 align-self-center">
                <p>Mobile Developer Intern</p>
                <p>IT | Magang</p>
                <p>10 Januari 2020</p>
            </div>
            <div class="col-1 d-flex align-items-end flex-column">
                <button type="button" class="btn btn-primary mt-auto" style="margin-bottom: 15%">Lamar</button>
            </div>
        </div>
    </div>

    <div style="padding: 2rem">
        <div class="row" style="border-style: solid">
            <div class="col-2" style="text-align: center; border-right-style: solid; border-right-width: thin">
                <img src="{% static 'img/image 6.png' %}" style="margin-top: 5%">
                <p>Dinas Depok</p>
            </div>
            <div class="col-9 align-self-center">
                <p>Mobile Developer Intern</p>
                <p>IT | Magang</p>
                <p>10 Januari 2020</p>
            </div>
            <div class="col-1 d-flex align-items-end flex-column">
                <button type="button" class="btn btn-primary mt-auto" style="margin-bottom: 15%">Lamar</button>
            </div>
        </div>
    </div>

</div>

</body>
</html>