{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='{% static "/css/cari_lowongan.css" %}'>

    <title>Cari Lowongan</title>
</head>
<body>

{% include 'navbar.html' %}

<div class="pg-container">

    {% for i in data %}
    <div class="outer-box">
        <div class="row inner-box">
            <div class="col-2 col1">
                <img src="{% static 'img/image 6.png' %}">
                <p>Dinas Depok</p>
            </div>
            <div class="col-9 align-self-center col2">
                <p id="judul-lowongan">{{ i.judul }}</p>
                <p>{{ i.kategori }}</p>
                <p>{{ i.batas_akhir_pendaftaran }}</p>
            </div>
            <div class="col-1 d-flex align-items-end flex-column col3">
                <button onclick="window.location.href='detail-lowongan/{{ i.id }}'" type="button" class="btn btn-primary mt-auto">Lamar</button>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

</body>
</html>