<!DOCTYPE html>
<html lang="en">
    <head>

        <style>
            #submit-btn {
                width: 100%
            }
            .card-horizontal {
                display: flex;
                flex: 1 1 auto;
            }
        </style>


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="/static/css/navbar-no-bootstrap.css">

        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Form Lamar Lowongan</title>
    </head>
    <body>
        {% include 'navbar-no-bootstrap.html' %}
        {% if is_pending is False%}
        </br></br></br></br>
        <h3>Status lamaran anda pada lowongan "{{lowongan}}"" adalah "{{status}}"</h3>
        <h3>Pindah otomatis ke halaman dashboard user dalam <span id="counter">3</span> detik ....</h3>
        <br>
        <h3><a href="/user/dashboard/">Klik untuk langsung menuju dashboard user</a></h2>
        <script>
            setInterval(function() {
                var div = document.querySelector("#counter");
                var count = div.textContent * 1 - 1;
                div.textContent = count;
                if (count <= 0) {
                    window.location.replace("/user/dashboard/");
                }
            }, 1000);
        </script>
        {% else %}
        <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" src="http://via.placeholder.com/180x180" alt="Card image cap" height="180px" width="180px">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{lowongan.judul}}</h4>
                                    <p class="card-text">Dinas : {{opd.name}} | Kategori : {{lowongan.kategori}}</p>
                                    <p class="card-text">Batas Akhir : {{lowongan.batas_akhir_pendaftaran}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="row-12 form-lamar">
                    <form method="POST" action="/lowongan/user/lamar/{{lowongan.id}}/" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if user.userprofile.cv %}
                            <label for="id_file_cv">CV (format NamaAnda_CV.pdf):</label> 
                            <span id="cv-file-name"><a id="cv_dir_awal" href="/media/{{ user.userprofile.cv }}">{{ user.userprofile.cv }}</a>
                            </span>
                            <input hidden type="file" name="file_cv"  id="id_file_cv">

                            <button type="button" class="btn btn-primary" onclick="click_upload_cv()">Ubah CV</button>

                        {% else %}
                            <label for="id_file_cv">CV (format NamaAnda_CV.pdf):</label> 
                            <span id="cv-file-name"><a id="cv_dir_awal">Anda belum menambahkan CV</a>
                            </span>
                            <input hidden type="file" name="file_cv"  id="id_file_cv">
                            <button type="button" class="btn btn-primary" onclick="click_upload_cv()">Unggah CV</button>


                        {% endif %}

                        {% if is_update is True %}
                            <br><br>

                            <label for="id_file_berkas_tambahan">File berkas tambahan:
                            </label> 
                            <span id="span_file">
                                <a id="file_dir_awal" href="/media/{{file_berkas}}">{{file_berkas}}</a>
                            </span>
                            <button type="button" class="btn btn-primary" onclick="click_upload_file()">Ubah File</button>
                            <input style="display: none" type="file" name="file_berkas_tambahan" id="id_file_berkas_tambahan"><br><br>

                            <label for="id_application_letter">Application letter:</label> 
                            <textarea name="application_letter" cols="40" rows="10" class="form-control col-8" maxlength="2000" required="" id="id_application_letter">{{application_letter}}</textarea>
                            
                            <br>
                            <button type="submit" class="btn btn-primary">Kirim Lamaran</button>
                        {% else %}

                            <br><br>

                            <label for="id_file_berkas_tambahan">File berkas tambahan:
                            </label> 
                            <span id="span_file">
                                <a id="file_dir">kamu belum menambahkan File Berkas</a>
                            </span>
                            <button type="button" class="btn btn-primary" onclick="click_upload_file()">Unggah File</button>
                            <input style="display: none" type="file" name="file_berkas_tambahan" id="id_file_berkas_tambahan"><br><br>

                            <label for="id_application_letter">Application letter:</label> 
                            <textarea name="application_letter" cols="40" rows="10" class="form-control col-8" maxlength="2000" required="" id="id_application_letter"></textarea>
                            
                            <br>
                            <button type="submit" class="btn btn-primary">Kirim Lamaran</button>
                        {% endif %}
                    </form>

                    </div>
                </div>
            </body>
            <script>
                function click_upload_file() {
                    $('#id_file_berkas_tambahan').click();
                }
                function click_upload_cv() {
                    $('#id_file_cv').click();
                }

                $("#id_file_cv").change(function(){
                    $("#cv_dir").remove()
                    $("#cv_dir_awal").remove()
                    
                    var file = $(this).val().split('\\').pop();
                    if (file === ""){
                        $("#cv-file-name").append("<span id='cv_dir'>" + "kamu belum menambahkan CV" +"</span>");
                    }
                    else{
                        $("#cv-file-name").append("<span id='cv_dir'>" + file +"</span>");
                    };
                });

                $("#id_file_berkas_tambahan").change(function(){
                    $("#file_dir_awal").remove()
                    $("#file_dir").remove()
                    
                    var file = $(this).val().split('\\').pop();
                    console.log(file)
                    if (file === ""){
                        $("#span_file").append("<span id='file_dir'>" + "kamu belum menambahkan File Berkas" +"</span>");
                    }
                    else{
                        $("#span_file").append("<span id='file_dir'>" + file +"</span>");
                    };
                });

                $("form").submit(function(e){
                    if ((document.getElementById("id_file_berkas_tambahan").files.length == 0) && $("#file_dir_awal").length < 1){
                        alert("Kamu belum menambahkan File");
                        e.preventDefault();
                    }
                });
            </script>
            {% endif %}
        </html>
    </body>
</html>
