<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        #submit-btn {
            width: 100%
        }

    </style>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Belom bisa pake static file -->
    <link rel="stylesheet" type="text/css" href="./style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Form Pembuatan Lowongan</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-12">
        <form>
            <h1 class="admin-login-items">Formulir Pembuatan Lowongan Magang </h1>
            <div class="col-6">
                <div class="form-group">
                    <input type="text" class="form-control" id="judul" placeholder="Judul Magang">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="penyedia" placeholder="Bagian/Divisi/Subdit Penyedia Lowongan">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="jumlah_tersedia" placeholder="Tenaga yang dibutuhkan">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="durasi_magang" placeholder="Durasi magang">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="jangka_waktu_lamaran" placeholder="Jangka waktu lamaran">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="berkas" placeholder="Berkas">
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <textarea class="form-control" id="deskripsi" placeholder="Deskripsi Pekerjaan" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="requirement" placeholder="Requirement/Kualifikasi" rows="5"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Posting Lowongan</button>
        </form>
    </div>
</div>
</body>
</html>
