{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        #submit-btn {
            width: 100%
        }

        .admin-login-items {
            margin-bottom: 2em;
        }
    </style>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>

    <!-- Belom bisa pake static file -->
    <link rel="stylesheet" type="text/css" href="./style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Login</title>
</head>
<body>
{% include 'navbar.html' %}
<div class="container-fluid">
    <div class="row justify-content-center" style="height: 100vh">
        <div class="col-4 align-self-center">
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <form method="POST" action="{% url 'user_login' %}">
                {% csrf_token %}
                <h1 class="admin-login-items">Masuk Sebagai User</h1>
                <label>Email : </label>
                {{ form.username }}
                <label>Password : </label>
                {{ form.password }}
                <br>
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary admin-login-items" id="submit-btn">Submit</button>
                    <div style="margin-bottom: 3vh">
                        atau
                    </div>
                    <div>
                        <a href="{% url 'social:begin' 'google-oauth2' %}" id="google_login">
                            <img src="{% static 'img/btn_google_sign_in.png' %}" style="width: 220px">
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>