/*Smallest Screen width < 576px*/


.widescreen-only {
    display: none;
}


#cv-file-name {
    margin-bottom: 10px;
}

#delete-cv-button {
    margin-left: 10px;
}

#daftar-lamaran-table {
    border: black solid thin;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: black;
}

#daftar-lamaran-table_wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

#daftar-lamaran-title {
    text-align: center;
    background-color: #242582;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#daftar-lamaran-wrapper {

}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .widescreen-only {
        display: inline;
    }

    .phone-only {
        display: none;
    }


}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {


}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

