{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>


</style>
<head>
  {% block head %}
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href='{% static "/css/landing.css" %}'>
      <link rel="stylesheet" type="text/css" href='{% static "/css/accordion.css" %}'>
      <script src ='{% static "/js/accordion.js" %}'> </script>
      <title>OPD Login</title>
      
{% endblock %}
</head>
<body>
{% block body %}
{% include 'navbar-no-bootstrap.html' %}
<div class="container-fluid">
    <div class="row justify-content-center" style="height: 100vh">
        <div class="col-4 align-self-center">
            <form method="POST" action="{% url 'opd_login' %}">
                {% csrf_token %}
                <h1 >Masuk Sebagai OPD</h1>
                <label>Email : </label>
                {{ form.username }}
                <label>Password : </label>
                {{ form.password }}
            <br>
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
                <button type="submit" id="submit-btn">Submit</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>