{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "/css/footer-masif.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "/fontawesome-free-5.13.0-web/css/all.min.css" %}'>
<footer class="dark-div main-color-2-bg masif-footer">
    <div class="footer-inner fixed-effect-inner">

        <div id="bottom-nav">
            <div class="container">
                <div class="text-center back-to-top-wrap">
                    <a class="back-to-top main-color-2-bg" href="#top" title="Go to top"><i
                            class="fa fa-angle-double-up"></i></a>
                </div>
                <div class="row footer-content">
                    <div class="copyright col-md-6">
                        Dinas Komunikasi dan Informatika | Pemerintah Kota Depok<br>Gedung Dibaleka II Komplek Balaikota
                        Depok Lantai 7, Jl. Margonda Raya No. 54 Depok, Telp.(021) 29402276 dan (021) 7764410, Email :
                        diskominfo[at]depok.go.id
                    </div>
                    <nav class="col-md-6 footer-social">
                        <ul class="list-inline pull-right social-list">
                        </ul>
                    </nav>
                </div><!--/row-->
            </div><!--/container-->
        </div>
    </div>
</footer>