{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='{% static "/css/detail_lowongan.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "/css/baseStyle.css" %}'>
    {% include 'import-bootstrap-jquery.html' %}
    <title>Detail Lowongan</title>
</head>
<body>

{% include 'navbar-no-bootstrap.html' %}
{% for i in data %}
    <div class="pg-container">
        <div class="outer-box">
            <div class="row inner-box">
                <div class="col-2 col1">
                    <img class="profpic-opd-small" src="/media/{{ i.opd_foreign_key.profile_picture }}" alt='opd-logo'>
                    <p>{{ i.opd_foreign_key.name }}</p>
                </div>
                <div class="col-9 align-self-center col2">
                    <p id="judul-lowongan">{{ i.judul }}</p>
                    <p>{{ i.kategori }}</p>
                    <p>{{ i.opd_foreign_key.opdprofile.address }}</p>
                    <p>{{ i.batas_akhir_pendaftaran }}</p>
                </div>
                <div class="col-1 d-flex align-items-end flex-column col3">
                    <button id='{{ status }}' onclick="window.location.href='/lowongan/user/lamar/{{ i.id }}'"
                            type="button" class="btn btn-primary mt-auto d-none">Lamar Sekarang
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8" style="text-align: left">
                <strong id="bold-text">Deskripsi Job</strong>
                <p>{{ i.deskripsi }}</p>
            </div>
            <div class="col-4" style="text-align: left">
                <strong id="bold-text">Detail</strong>
                <p>Tenaga yang dibutuhkan : {{ i.kuota_peserta }}<br>
                    Durasi magang : {{ i.waktu_awal_magang }} - {{ i.waktu_akhir_magang }}
                    <p id = '{{status}}2'> </p>
                </p>
                <button id='{{ status }}2' onclick="window.location.href='/lowongan/user/lamar/{{ i.id }}'"
                        type="button" class="btn btn-primary mt-auto">Lamar Sekarang
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <strong id="bold-text">Syarat</strong>
                <p>
                    {{ i.requirement }}
                </p>
            </div>
        </div>
    </div>
{% endfor %}
<script>
document.getElementById('tidak_lengkap').disabled = true;
document.getElementById('tidak_lengkap2').disabled = true;
document.getElementById('tidak_lengkap3').innerHTML = 'Lengkapi data profile diri terlebih dahulu sebelum melamar';
</script>
</body>
</html>