{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href='{% static "/css/landing.css" %}'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>

<div>
    <div class="container-img">
        <img src="{% static 'img/img2.png' %}">
        <div class="centered">Alur Mekanisme Magang
        </div>
    </div>
    <div>
        <div id="lowongan-title">
            <br>
            <p>Lowongan Magang Terbaru</p>
        </div>
        <div class="card-container d-flex justify-content-center">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <img src="{% static 'img/Ellipse 14.png' %}">
                            </div>
                            <div class="col">
                                <div class="row">
                                    <b>Java Developer</b>
                                </div>
                                <div class="row">
                                    <p>Diskominfo</p>
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <div class="row desc-1">
                                <p>IT</p>
                            </div>
                            <div class="row desc-2">
                                <p>
                                    Magang
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <img src="{% static 'img/Ellipse 14-2.png' %}">
                            </div>
                            <div class="col">
                                <div class="row">
                                    <b>Java Developer</b>
                                </div>
                                <div class="row">
                                    Dinas Pendidikan
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <div class="row desc-1">
                                <p>IT</p>
                            </div>
                            <div class="row desc-2">
                                <p>
                                    Magang
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <img src="{% static 'img/Ellipse 14.png' %}">
                            </div>
                            <div class="col">
                                <div class="row">
                                    <b>Java Developer</b>
                                </div>
                                <div class="row">
                                    Diskominfo
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <div class="row desc-1">
                                <p>IT</p>
                            </div>
                            <div class="row desc-2">
                                <p>
                                    Magang
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <img src="{% static 'img/Ellipse 14.png' %}">
                            </div>
                            <div class="col">
                                <div class="row">
                                    <b>Java Developer</b>
                                </div>
                                <div class="row">
                                    Diskominfo
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <div class="row desc-1">
                                <p>IT</p>
                            </div>
                            <div class="row desc-2">
                                <p>
                                    Magang
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="contact">
        <div class="row">
            <div class="col-8">
                <p id="kontak">Kontak</p>
                <div class="row">
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                    <div class="col">
                        <p>Kontak Lorem Ipsum</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div id="text-medsos">
                    <p>Media Sosial</p>
                </div>
                <div class="row logo-medsos">
                    <div class="col img-1">
                        <img src="{% static 'img/image 3.png' %}">
                    </div>
                    <div class="col img-2">
                        <img src="{% static 'img/image 5.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
