{% extends 'base.html' %}
{% block head %}
    <style>
        #submit-btn {
            width: 100%
        }

        .admin-login-items {
            margin-bottom: 1em;
        }

        .errorlist {
            margin: 0;
        }
    </style>


    <title>Daftar Pelamar</title>
{% endblock %}
{% block body %}
    {% include 'navbar-no-bootstrap.html' %}
    <div class="container-fluid">
        <div class="row justify-content-center" style="height: 100vh">
            <div class="col-4 align-self-center">
                {% if form.errors.email.as_json %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.errors.email }}
                    </div>
                {% endif %}
                <form method="POST" action="{% url 'user_register' %}"
                      oninput='id_confirm_password.setCustomValidity(id_confirm_password.value != id_password.value ? "Passwords do not match." : "")'
                >
                    {% csrf_token %}
                    <h1 class="admin-login-items text-center">Pembuatan Akun Pelamar</h1>
                    <label>Nama : </label>
                    {{ form.user_name }}
                    <label>Email : </label>
                    {{ form.email }}
                    <label>Telepon : </label>
                    {{ form.phone }}
                    <label>Password : </label>
                    {{ form.password }}
                    <label>Konfirmasi Password : </label>
                    {{ form.confirm_password }}

                    <br>
                    <button type="submit" class="btn btn-primary admin-login-items" id="submit-btn">Submit</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}