<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <style>
        .indent {
            margin-left: 30px;
        }
        .indent-more {
            margin-left: 60px;
        }
        .top {
            margin-top: 100px;
        }
        .header {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="indent">
        <h2 class="header">Surat Rekomendasi Kesbangpol</h2>
        <div class="top">
            <p>Nama: {{name}}</p>
            <p>Asal Institusi: {{institution}}</p>
            <p>Alamat: {{address}}</p>
            <p>Nomor Telepon: {{contact}}</p>
            <p>Untuk:</p>
            <div class="indent-more">
                <p>Judul Lowongan: {{title}}</p>
                <p>Lokasi: {{location}}</p>
                <p>Durasi: {{duration}}</p>
                <p>Bidang: {{category}}</p>
            </div>
        </div>
    </div>
</body>
</html>