{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>
    {% include 'import-bootstrap-jquery.html' %}
    <title>Kesbangpol Login</title>
</head>
<body>
{% include 'navbar-no-bootstrap.html' %}
<div class="container-fluid">
    <div class="row justify-content-center" style="height: 100vh">
        <div class="col-4 align-self-center">
            {% for message in err %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <form method="POST" action="{% url 'kesbangpol_login' %}">
                {% csrf_token %}
                <h1 class="admin-login-items">Masuk Sebagai Kesbangpol</h1>
                <label>Email : </label>
                {{ form.username }}
                <label>Password : </label>
                {{ form.password }}
                <br>
                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary admin-login-items" id="submit-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>